<div class="container">
  <div class="row justify-content-center mb-4">
    <h1 class="text-center">Restaurants</h1>
    <div class="col-12 text-center">
    <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-success" %>
    </div>
  </div>

  <div id="restaurants" class="row justify-content-center">
    <% @restaurants.in_groups_of(3, false).each do |restaurants| %>
      <div class="row mb-4">
        <% restaurants.compact.each do |restaurant| %>
          <div class="col-md-4">
            <%= render restaurant %>
            <%= link_to "View restaurant details", restaurant, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
