<div class="container">
  <h1>New restaurant</h1>
  <div class="row justify-content-center">
    <div class="card-body">
    <%= render "form", restaurant: @restaurant %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
